*{
  margin: 0;
  padding: 0;
}
body{
  background-color: orange;
  font-family: sans-serif;
}
#home h1{
  color: red;
  text-align: center;
  font-style: italic;
  margin-top: 8%;
}
#home h1 h2 h3{
  font-style: italic;
  margin-top: 30px;



















}
